{% macro render_user(user) %}
  <div class="h-card col-3 float-left pr-3" itemscope="" itemtype="http://schema.org/Person">
    <div class="user-profile-sticky-bar js-user-profile-sticky-bar">
      <div class="user-profile-mini-vcard d-table">
        <span class="user-profile-mini-avatar d-table-cell v-align-middle lh-condensed-ultra pr-2">
          <img class="rounded-1" height="32" width="32" alt="@{{user['username']}}" src="{{user['avatar_url']}}">
        </span>
        <span class="d-table-cell v-align-middle lh-condensed js-user-profile-following-mini-toggle">
          <strong>{{user['login']}}</strong>
        </span>
      </div>
    </div>
    <a class="u-photo d-block tooltipped tooltipped-s" aria-label="Change your avatar" href="/account"><img alt="" width="230" height="230" class="avatar width-full rounded-2" src="{{user['avatar_url']}}"></a>
    <div class="vcard-names-container py-3 js-user-profile-sticky-fields is-placeholder" style="visibility: hidden; display: none; height: 86px;"></div><div class="vcard-names-container py-3 js-sticky js-user-profile-sticky-fields " style="position: static;">
      <h1 class="vcard-names">
        <span class="p-name vcard-fullname d-block overflow-hidden" itemprop="name">{{user['name']}}</span>
        <span class="p-nickname vcard-username d-block" itemprop="additionalName">{{user['login']}}</span>
      </h1>
    </div>
    <div class="p-note user-profile-bio js-user-profile-bio mb-3">
      <div class="d-inline-block mb-3 js-user-profile-bio-contents">
        <div>{{user['bio']}}</div>
      </div>
    </div>
    <ul class="vcard-details">
      {% if user['email'] %}
        <li itemprop="email" aria-label="Email" class="vcard-detail pt-1 css-truncate css-truncate-target">
          <svg class="octicon octicon-mail" viewBox="0 0 14 16" version="1.1" width="14" height="16" aria-hidden="true">
            <path fill-rule="evenodd" d="M0 4v8c0 .55.45 1 1 1h12c.55 0 1-.45 1-1V4c0-.55-.45-1-1-1H1c-.55 0-1 .45-1 1zm13 0L7 9 1 4h12zM1 5.5l4 3-4 3v-6zM2 12l3.5-3L7 10.5 8.5 9l3.5 3H2zm11-.5l-4-3 4-3v6z"></path>
          </svg>
          <a class="u-email" href="mailto:{{user['email']}}">{{user['email']}}</a>
        </li>
      {% endif %}
    </ul>
  </div>
{% endmacro %}

{% macro render_repositories(user, repos) %}
  <div class="position-relative">
    <div id="user-repositories-list">
      <ul data-filterable-for="your-repos-filter" data-filterable-type="substring">
        {%- for repo in repos -%}
          <li class="col-12 d-block width-full py-4 border-bottom public source" itemprop="owns" itemscope="" itemtype="http://schema.org/Code">
            <div class="d-inline-block mb-1">
              <h3>
                <a href="/{{user['login']}}/{{repo['name']}}" itemprop="name codeRepository">
                  {{repo['name']}}</a>
              </h3>
            </div>
            <div>
              <p class="col-9 d-inline-block text-gray mb-2 pr-4" itemprop="description">
                {{repo['description']}}
              </p>
            </div>
            {% if repo['topics'] %}
              <div class="topics-row-container col-9 d-inline-flex flex-wrap flex-items-center f6 my-1">
                {%- for topic in repo['topics'] -%}
                  <a href="/topics/{{topic['topic']}}" class="topic-tag topic-tag-link f6 my-1" data-ga-click="Topic, repository list" data-octo-click="topic_click" data-octo-dimensions="topic:google,repository_id:{{repo['id']}},repository_nwo:{{user['login']}}/{{repo['name']}},repository_public:true,repository_is_fork:false">
                    {{topic['topic']}}"
                  </a>
                {%- endfor -%}
              </div>
            {% endif %}
            <div class="f6 text-gray mt-2">
                <span class="repo-language-color ml-0" style="background-color:#3572A5;"></span>
                <span class="mr-3" itemprop="programmingLanguage">
                  {{repo['language']}}
                </span>
                <a class="muted-link mr-3" href="/{{user['login']}}/{{repo['name']}}/stargazers">
                  <svg aria-label="star" class="octicon octicon-star" viewBox="0 0 14 16" version="1.1" width="14" height="16" role="img"><path fill-rule="evenodd" d="M14 6l-4.9-.64L7 1 4.9 5.36 0 6l3.6 3.26L2.67 14 7 11.67 11.33 14l-.93-4.74L14 6z"></path></svg>
                  {{repo['stargazers_count']}}
                </a>
                <a class="muted-link mr-3" href="/{{user['login']}}/{{repo['name']}}/network">
                  <svg aria-label="fork" class="octicon octicon-repo-forked" viewBox="0 0 10 16" version="1.1" width="10" height="16" role="img"><path fill-rule="evenodd" d="M8 1a1.993 1.993 0 0 0-1 3.72V6L5 8 3 6V4.72A1.993 1.993 0 0 0 2 1a1.993 1.993 0 0 0-1 3.72V6.5l3 3v1.78A1.993 1.993 0 0 0 5 15a1.993 1.993 0 0 0 1-3.72V9.5l3-3V4.72A1.993 1.993 0 0 0 8 1zM2 4.2C1.34 4.2.8 3.65.8 3c0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2zm3 10c-.66 0-1.2-.55-1.2-1.2 0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2zm3-10c-.66 0-1.2-.55-1.2-1.2 0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2z"></path></svg>
                  {{repo['forks_count']}}
                </a>

                {% if repo['license'] %}
                  <span class="mr-3">
                    <svg class="octicon octicon-law mr-1" viewBox="0 0 14 16" version="1.1" width="14" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M7 4c-.83 0-1.5-.67-1.5-1.5S6.17 1 7 1s1.5.67 1.5 1.5S7.83 4 7 4zm7 6c0 1.11-.89 2-2 2h-1c-1.11 0-2-.89-2-2l2-4h-1c-.55 0-1-.45-1-1H8v8c.42 0 1 .45 1 1h1c.42 0 1 .45 1 1H3c0-.55.58-1 1-1h1c0-.55.58-1 1-1h.03L6 5H5c0 .55-.45 1-1 1H3l2 4c0 1.11-.89 2-2 2H2c-1.11 0-2-.89-2-2l2-4H1V5h3c0-.55.45-1 1-1h4c.55 0 1 .45 1 1h3v1h-1l2 4zM2.5 7L1 10h3L2.5 7zM13 10l-1.5-3-1.5 3h3z"></path></svg>
                   {{ repo['license']['name'] }}
                  </span>
                {% endif %}
                Updated <relative-time datetime="{{repo['updated_at']}}">{{repo['relative_update_time']}}</relative-time>
            </div>
          </li>
        {%- endfor -%}
      </ul>
    </div>
  </div>
{% endmacro %}

{% macro render_profile(data) %}
  <div role="main" class="application-main ">
    <div id="js-pjax-container" data-pjax-container="">
      <div class="container-lg clearfix px-3 mt-4">
        {{render_user(data['user'])}}
        <div class="col-9 float-left pl-2">
          <div class="UnderlineNav user-profile-nav js-sticky top-0" style="position: static;">
            <nav class="UnderlineNav-body" data-pjax="" role="navigation">
              <a href="/{{data['user']['login']}}" class="UnderlineNav-item" aria-current="page">
                Overview
              </a>
              <a href="/{{data['user']['login']}}?tab=repositories" class="UnderlineNav-item selected">
                 Repositories
                 <span class="Counter">
                   {{ data['public_repos'] }}
                 </span>
              </a>
              <a href="/{{data['user']['login']}}?tab=followers" class="UnderlineNav-item ">
                Followers
                <span class="Counter">
                 {{ data['followers'] }}
                </span>
              </a>
              <a href="/{{data['user']['login']}}?tab=following" class="UnderlineNav-item ">
                Following
                <span class="Counter">
                  {{ data['following'] }}
                </span>
              </a>
            </nav>
          </div>
        {{render_repositories(data['user'], data['repos'])}}
        </div>
      </div>
    </div>
  </div>
{% endmacro %}