{%- extends 'layout.html' -%}

{% block title %}
  <title>Your Repositories</title>
{% endblock %}

{%- block css -%}
  {{ super() }}
  <link rel="stylesheet" href="{{ asset_url_for('profile.css') }}" />
{%- endblock -%}

{%- block container -%}
  {%- from 'profile/macros.html' import render_profile with context -%}
  {{- render_profile(data) -}}
{%- endblock -%}

{%- block js -%}
  {{ super() }}
  <script src="{{ asset_url_for('home.js') }}"></script>
{%- endblock -%}
