{% macro render_commit_tease() %}
  <div class="commit-tease">
    <div>
      <a rel="contributor" data-skip-pjax="true" data-hovercard-type="user" data-hovercard-url="/hovercards?user_id=89816" data-octo-click="hovercard-link-click" data-octo-dimensions="link_type:self" href="/shon" aria-describedby="hovercard-aria-description"><img class="avatar" src="https://avatars1.githubusercontent.com/u/6688066?s=40&amp;v=4" width="20" height="20" alt="@shon"></a>
      <a class="user-mention" rel="contributor" data-hovercard-type="user" data-hovercard-url="/hovercards?user_id=89816" data-octo-click="hovercard-link-click" data-octo-dimensions="link_type:self" href="/shon" aria-describedby="hovercard-aria-description">{{data['name']}}</a>
    </div>
  </div>
{% endmacro %}



{% macro render_file_wrap(data, path='') %}
  {% set path = path + '/' if path else '' %}
  <div class="file-wrap">
    <table class="files js-navigation-container js-active-navigation-container" data-pjax="">
      <tbody>
        {%- for file in data['content'] -%}
          {% if file['type'] != 'file' %}
            <tr class="js-navigation-item">
              <td class="icon">
                <svg class="octicon octicon-file-directory" viewBox="0 0 14 16" version="1.1" width="14" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M13 4H7V3c0-.66-.31-1-1-1H1c-.55 0-1 .45-1 1v10c0 .55.45 1 1 1h12c.55 0 1-.45 1-1V5c0-.55-.45-1-1-1zM6 4H1V3h5v1z"></path></svg>
                <img width="16" height="16" class="spinner" alt="" src="https://assets-cdn.github.com/images/spinners/octocat-spinner-32.gif">
              </td>
              <td class="content">
                <span class="css-truncate css-truncate-target">
                  <a class="js-navigation-open" title="docs" id="e3e2a9bfd88566b05001b02a3f51d286-eb97447dbae67ca20d812c994c6a742fcb73ab07" href="/{{data['full_name']}}/tree/master/{{path}}{{file['name']}}">{{file['name']}}</a>
                </span>
              </td>
              <td class="message">
                <span class="css-truncate css-truncate-target">
                      <a data-pjax="true" title="s3_dumps first commit" class="message" href="/">Commit Message</a>
                </span>
              </td>
              <td class="age">
                <span class="css-truncate css-truncate-target"><time-ago>Time ago</time-ago></span>
              </td>
            </tr>
          {% endif %}
        {%- endfor -%}
        {%- for file in data['content'] -%}
          {% if file['type'] == 'file' %}
            <tr class="js-navigation-item navigation-focus" aria-selected="true">
              <td class="icon">
                <svg class="octicon octicon-file" viewBox="0 0 12 16" version="1.1" width="12" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M6 5H2V4h4v1zM2 8h7V7H2v1zm0 2h7V9H2v1zm0 2h7v-1H2v1zm10-7.5V14c0 .55-.45 1-1 1H1c-.55 0-1-.45-1-1V2c0-.55.45-1 1-1h7.5L12 4.5zM11 5L8 2H1v12h10V5z"></path></svg>
                <img width="16" height="16" class="spinner" alt="" src="https://assets-cdn.github.com/images/spinners/octocat-spinner-32.gif">
              </td>
              <td class="content">
                <span class="css-truncate css-truncate-target"><a class="js-navigation-open" title=".gitignore" id="a084b794bc0759e7a6b77810e01874f2-867434b8dc0adec1ae8e8ba1c757e8c9d1a179cb" href="/{{data['full_name']}}/blob/master/{{path}}{{file['name']}}">{{file['name']}}</a></span>
              </td>
              <td class="message">
                <span class="css-truncate css-truncate-target">
                      <a data-pjax="true" title="s3_dumps first commit" class="message" href="/">Commit Message</a>
                </span>
              </td>
              <td class="age">
                <span class="css-truncate css-truncate-target"><time-ago>Time ago</time-ago></span>
              </td>
            </tr>
          {% endif %}
        {%- endfor -%}
      </tbody>
    </table>
  </div>
{% endmacro %}

{% macro render_file_preview(data) %}
  <div class="file ">
    <div class="file-header">
      <div class="file-info">
          {{ data['content_meta']['lines'] }} lines ({{data['content_meta']['sloc']}} sloc)
          <span class="file-info-divider"></span>
        {{ data['content_meta']['size'] }}
      </div>
    </div>
    <div itemprop="text" class="blob-wrapper data type-text ">
      <table class="highlight tab-size js-file-line-container" data-tab-size="8">
        <tbody>
        {%- for line in data['content'] -%}
          <tr>
            <td id="L{{loop.index}}" class="blob-num js-line-number" data-line-number="{{loop.index}}"></td>
            <td id="LC{{loop.index}}" class="blob-code blob-code-inner js-file-line">{{line}}</td>
          </tr>
        {%- endfor -%}
        </tbody>
      </table>
    </div>
  </div>
{% endmacro %}

{% macro render_stats_switcher(data) %}
  <div class="overall-summary overall-summary-bottomless">
    <div class="stats-switcher-viewport js-stats-switcher-viewport">
      <div class="stats-switcher-wrapper">
        <ul class="numbers-summary">
          <li class="commits">
            <a data-pjax="" href="/{{data['full_name']}}/commits/master">
                <svg class="octicon octicon-history" viewBox="0 0 14 16" version="1.1" width="14" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M8 13H6V6h5v2H8v5zM7 1C4.81 1 2.87 2.02 1.59 3.59L0 2v4h4L2.5 4.5C3.55 3.17 5.17 2.3 7 2.3c3.14 0 5.7 2.56 5.7 5.7s-2.56 5.7-5.7 5.7A5.71 5.71 0 0 1 1.3 8c0-.34.03-.67.09-1H.08C.03 7.33 0 7.66 0 8c0 3.86 3.14 7 7 7s7-3.14 7-7-3.14-7-7-7z"></path></svg>
                <span class="num text-emphasized">
                  {{data['commits_count']}}
                </span>
                commits
            </a>
          </li>
          <li>
            <!--   -->
          </li>
          <li>
            <!--   -->
          </li>
          <li>
            <!--   -->
          </li>
          <li>
            <!--   -->
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro render_repo_details(data) %}
  <details id="repo-meta-edit" class="Details-element details-reset js-dropdown-details ">
    <summary class="d-block">
      <div class="Details-content--closed f4">
        <div class="d-flex flex-items-start">
          <span class="flex-auto mb-2"> 
            <div class="f4">
              <span class="text-gray-dark mr-2" itemprop="about">
                  {{data['description']}}
                </span>
              {%- if data['homepage'] -%}
                <span itemprop="url"><a rel="nofollow" href="{{data['homepage']}}">{{data['homepage']}}/</a></span>
              {%- endif -%}
            </div>
          </span>
        </div>
      </div>
    </summary>
  </details>
{% endmacro %}

{% macro render_clone_dropdown(data) %}
  <details class="get-repo-select-menu js-get-repo-select-menu position-relative details-overlay details-reset">
    <summary class="btn btn-sm btn-primary">
      Clone or download
      <span class="dropdown-caret"></span>
    </summary>
    <div class="position-relative">
      <div class="get-repo-modal dropdown-menu dropdown-menu-sw pb-0 js-toggler-container  js-get-repo-modal">
        <div class="get-repo-modal-options">
          <div class="clone-options https-clone-options">
            <h4 class="mb-1">
              Clone with HTTPS
              <a class="muted-link" href="https://help.github.com/articles/which-remote-url-should-i-use" target="_blank" title="Which remote URL should I use?">
                <svg class="octicon octicon-question" viewBox="0 0 14 16" version="1.1" width="14" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M6 10h2v2H6v-2zm4-3.5C10 8.64 8 9 8 9H6c0-.55.45-1 1-1h.5c.28 0 .5-.22.5-.5v-1c0-.28-.22-.5-.5-.5h-1c-.28 0-.5.22-.5.5V7H4c0-1.5 1.5-3 3-3s3 1 3 2.5zM7 2.3c3.14 0 5.7 2.56 5.7 5.7s-2.56 5.7-5.7 5.7A5.71 5.71 0 0 1 1.3 8c0-3.14 2.56-5.7 5.7-5.7zM7 1C3.14 1 0 4.14 0 8s3.14 7 7 7 7-3.14 7-7-3.14-7-7-7z"></path></svg>
              </a>
            </h4>
            <p class="mb-2 get-repo-decription-text">
              Use Git or checkout with SVN using the web URL.
            </p>
            <div class="input-group">
              <input type="text" class="form-control input-monospace input-sm" data-autoselect="" value="{{ data['clone_url'] }}" aria-label="Clone this repository at {{data['clone_url']}}" readonly="">
              <div class="input-group-button">
                <clipboard-copy value="{{ data['clone_url'] }}" aria-label="Copy to clipboard" class="btn btn-sm" tabindex="0" role="button">
                  <svg class="octicon octicon-clippy" viewBox="0 0 14 16" version="1.1" width="14" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M2 13h4v1H2v-1zm5-6H2v1h5V7zm2 3V8l-3 3 3 3v-2h5v-2H9zM4.5 9H2v1h2.5V9zM2 12h2.5v-1H2v1zm9 1h1v2c-.02.28-.11.52-.3.7-.19.18-.42.28-.7.3H1c-.55 0-1-.45-1-1V4c0-.55.45-1 1-1h3c0-1.11.89-2 2-2 1.11 0 2 .89 2 2h3c.55 0 1 .45 1 1v5h-1V6H1v9h10v-2zM2 5h8c0-.55-.45-1-1-1H8c-.55 0-1-.45-1-1s-.45-1-1-1-1 .45-1 1-.45 1-1 1H3c-.55 0-1 .45-1 1z"></path></svg>
                </clipboard-copy>
              </div>
            </div>
          </div>
          <div class="mt-2">
            <a href="https://desktop.github.com" class="btn btn-outline get-repo-btn tooltipped tooltipped-s tooltipped-multiline js-get-repo" data-open-app="mac" aria-label="Clone {{ data['full_name'] }} to your computer and use it in GitHub Desktop.">
              Open in Desktop
            </a>
            <a href="/{{ data['full_name'] }}/archive/master.zip" class="btn btn-outline get-repo-btn
              " rel="nofollow" data-ga-click="Repository, download zip, location:repo overview">
              Download ZIP
            </a>
          </div>
        </div>
      </div>
    </div>
  </details>
{% endmacro %}

{% macro render_blob_path(data, _path) %}
  {% set spath = _path.split('/') %}
  <div id="blob-path" class="breadcrumb">
    <span class="repo-root js-repo-root">
      <span class="js-path-segment">
        <a data-pjax="true" href="/{{data['full_name']}}">
          <span>{{data['name']}}</span>
        </a>
      </span>
    </span>
    {%- for path in spath -%}
      {% set tmp_path = _path[:_path.find(path)] %}
      <span class="separator">/</span>
      <span class="js-path-segment">
        {% if loop.index == spath|length %}
          <strong class="final-path">{{path}}</strong>
        {% else %}
          <a data-pjax="true" href="/{{data['full_name']}}/tree/{{data['default_branch']}}/{{tmp_path}}{{path}}">
            <span>{{path}}</span>
          </a>
        {% endif %}
      </span>
    {%- endfor -%}
  </div>
{% endmacro %}

{% macro render_repo(data, path, is_root_url) %}
  <div role="main" class="application-main ">
    <div itemscope="" itemtype="http://schema.org/SoftwareSourceCode" class="">
      <div id="js-repo-pjax-container" data-pjax-container="">
        <div class="pagehead repohead instapaper_ignore readability-menu experiment-repo-nav  ">
          <div class="repohead-details-container clearfix container">
            <h1 class="public ">
              <svg class="octicon octicon-repo" viewBox="0 0 12 16" version="1.1" width="12" height="16" aria-hidden="true">
                <path fill-rule="evenodd" d="M4 9H3V8h1v1zm0-3H3v1h1V6zm0-2H3v1h1V4zm0-2H3v1h1V2zm8-1v12c0 .55-.45 1-1 1H6v2l-1.5-1.5L3 16v-2H1c-.55 0-1-.45-1-1V1c0-.55.45-1 1-1h10c.55 0 1 .45 1 1zm-1 10H1v2h2v-1h3v1h5v-2zm0-10H2v9h9V1z"></path>
              </svg>
              <span class="author" itemprop="author">
                <a class="url fn" rel="author" data-hovercard-type="user" data-hovercard-url="/hovercards?user_id={{data['owner']['id']}}" data-octo-click="hovercard-link-click" data-octo-dimensions="link_type:self" href="/{{data['owner']['login']}}" aria-describedby="hovercard-aria-description">{{data['owner']['login']}}</a>
              </span><!--
              --><span class="path-divider">/</span><!--
              --><strong itemprop="name"><a data-pjax="#js-repo-pjax-container" href="/{{data['full_name']}}">{{data['name']}}</a></strong>
            </h1>
          </div>
          <nav class="reponav js-repo-nav js-sidenav-container-pjax container" itemscope="" itemtype="http://schema.org/BreadcrumbList" role="navigation" data-pjax="#js-repo-pjax-container">

            <span itemscope="" itemtype="http://schema.org/ListItem" itemprop="itemListElement">
              <a class="js-selected-navigation-item selected reponav-item" itemprop="url" data-hotkey="g c" aria-current="page" data-selected-links="repo_source repo_downloads repo_commits repo_releases repo_tags repo_branches repo_packages {{data['full_name']}}" href="/{{data['full_name']}}">
                <svg class="octicon octicon-code" viewBox="0 0 14 16" version="1.1" width="14" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M9.5 3L8 4.5 11.5 8 8 11.5 9.5 13 14 8 9.5 3zm-5 0L0 8l4.5 5L6 11.5 2.5 8 6 4.5 4.5 3z"></path></svg>
                <span itemprop="name">Code</span>
                <meta itemprop="position" content="1">
              </a>
            </span>
          </nav>
        </div>
        <div class="container new-discussion-timeline experiment-repo-nav  ">
          {%- if data['type'] == 'commits' -%}
            {{ render_commits(data) }}
          {%- else -%}
            {{ render_repository_content(data) }}
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro render_branch_selector(data) %}
  <div class="select-menu branch-select-menu js-menu-container js-select-menu float-left">
    <button class=" btn btn-sm select-menu-button js-menu-target css-truncate" data-hotkey="w" type="button" aria-label="Switch branches or tags" aria-expanded="false" aria-haspopup="true">
        <i>Branch:</i>
        <span class="js-select-button css-truncate-target">{{ data['default_branch'] }}</span>
    </button>
  </div>
{% endmacro %}

{% macro render_repository_content(data) %}
  <div class="repository-content">
    {%- if is_root_url -%}
      {{ render_repo_details(data) }}
      {{ render_stats_switcher(data) }}
        <button type="button" class="d-flex p-0 repository-lang-stats-graph js-toggle-lang-stats" title="Click for language details" data-ga-click="Repository, language bar stats toggle, location:repo overview">
          <span class="language-color" aria-label="Python 100.0%" style="width:100.0%; background-color:#000;" itemprop="keywords">
            Python
          </span>
      </button>
    {%- endif -%}
    <div class="file-navigation in-mid-page d-flex flex-items-start">
      {{render_branch_selector(data)}}
      {%- if not is_root_url -%}
        {{ render_blob_path(data, path) }}
      {%- endif -%}
      {%- if is_root_url -%}
        {{ render_clone_dropdown(data) }}
      {%- endif -%}
    </div>
    {{ render_commit_tease() }}
    {%- if data['type'] == 'blob' -%}
      {{ render_file_preview(data) }}
    {%- else -%}
      {{ render_file_wrap(data, path) }}
    {%- endif -%}
  </div>
{% endmacro%}


{% macro render_commits(data) %}
  <div class="file-navigation in-mid-page d-flex flex-items-start">
    {{render_branch_selector(data)}}
  </div>

  <div class="commits-listing commits-listing-padded js-navigation-container js-active-navigation-container" data-navigation-scroll="page">
    {% for key in data['commits'] %}
    <div class="commit-group-title">
      <svg class="octicon octicon-git-commit" viewBox="0 0 14 16" version="1.1" width="14" height="16" aria-hidden="true">
        <path fill-rule="evenodd" d="M10.86 7c-.45-1.72-2-3-3.86-3-1.86 0-3.41 1.28-3.86 3H0v2h3.14c.45 1.72 2 3 3.86 3 1.86 0 3.41-1.28 3.86-3H14V7h-3.14zM7 10.2c-1.22 0-2.2-.98-2.2-2.2 0-1.22.98-2.2 2.2-2.2 1.22 0 2.2.98 2.2 2.2 0 1.22-.98 2.2-2.2 2.2z"></path>
      </svg>
      Commits {{key}}
    </div>
    <ol class="commit-group table-list table-list-bordered">
      {% for commit in data['commits'][key] %}
      {% set commit_info = commit['commit'] %}
      {% set author = commit['author'] %}
      <li class="commit commits-list-item js-commits-list-item table-list-item js-navigation-item js-details-container Details js-socket-channel js-updatable-content navigation-focus" data-channel="repo:{{data['id']}}:commit:{{commit['sha']}}" data-url="/_render_node/{{commit['node_id']}}/commits/commits_list_item" aria-selected="true">
        <div class="table-list-cell">
          <p class="commit-title h5 mb-1 text-gray-dark ">
            <a aria-label="{{commit_info['message']}}" class="message js-navigation-open" data-pjax="true" href="/{{data['full_name']}}/commit/{{commit['sha']}}">{{commit_info['message']}}</a>
          </p>
          <div class="commit-meta commit-author-section no-wrap d-flex flex-items-center mt-1">
            <div class="AvatarStack flex-self-start ">
              <div class="AvatarStack-body" aria-label="{{author['login']}}">
                <a class="avatar" data-skip-pjax="true" data-hovercard-type="user" data-hovercard-url="/hovercards?user_id={{author['id']}}" 
                data-octo-click="hovercard-link-click" data-octo-dimensions="link_type:self" href="/{{author['login']}}" aria-describedby="hovercard-aria-description">
                  {% if author['avatar_url'] %}
                    <img height="20" width="20" alt="@{{author['login']}}" src="{{author['avatar_url']}}">
                  {% else %}
                    <img height="20" width="20" alt="@{{author['login']}}" src="https://camo.githubusercontent.com/ae7b859bfef79c1088f8425cc47ceff352842748/68747470733a2f2f302e67726176617461722e636f6d2f6176617461722f34306264303230393030333933653433386431323266323661393632613132393f643d68747470732533412532462532466173736574732d63646e2e6769746875622e636f6d253246696d6167657325324667726176617461727325324667726176617461722d757365722d3432302e706e6726723d6726733d3430">
                  {% endif %}
                </a>
              </div>
            </div>
            <div>
              <a href="/{{data['full_name']}}/commits?author={{author['login']}}" class="commit-author tooltipped tooltipped-s user-mention" aria-label="View all commits by {{author['login']}}">
                {{author['login']}}
              </a>
              committed <relative-time datetime="2018-11-12T16:43:04Z" title="Nov 12, 2018, 10:13 PM GMT+5:30">{{key}}</relative-time>
            </div>
          </div>
          <div class="commit-desc"><pre class="text-small">{{commit['message']}}</pre></div>
        </div>
        <div class="commit-links-cell table-list-cell">
          {% if commit_info['verification']['verified'] %}
            <details class="dropdown dropdown-signed-commit details-reset details-overlay js-dropdown-details d-inline-block">
              <summary class="signed-commit-badge signed-commit-badge-large verified" aria-label="View commit signature" aria-haspopup="true">
                Verified
              </summary>
              <div class="anim-scale-in" style="position: relative; z-index: 200;">
                <div class="dropdown-menu dropdown-menu-s py-0 text-gray-dark text-left">
                  <div class="signed-commit-header TableObject">
                    <div class="TableObject-item">
                      <svg height="32" class="octicon octicon-verified mr-2" viewBox="0 0 16 16" version="1.1" width="32" aria-hidden="true"><path fill-rule="evenodd" d="M15.67 7.066l-1.08-1.34a1.5 1.5 0 0 1-.309-.77l-.19-1.698a1.51 1.51 0 0 0-1.329-1.33l-1.699-.19c-.3-.03-.56-.159-.78-.329L8.945.33a1.504 1.504 0 0 0-1.878 0l-1.34 1.08a1.5 1.5 0 0 1-.77.31l-1.698.19c-.7.08-1.25.63-1.33 1.329l-.19 1.699c-.03.3-.159.56-.329.78L.33 7.055a1.504 1.504 0 0 0 0 1.878l1.08 1.34c.17.22.28.48.31.77l.19 1.698c.08.7.63 1.25 1.329 1.33l1.699.19c.3.03.56.159.78.329l1.339 1.08c.55.439 1.329.439 1.878 0l1.34-1.08c.22-.17.48-.28.77-.31l1.698-.19c.7-.08 1.25-.63 1.33-1.329l.19-1.699c.03-.3.159-.56.329-.78l1.08-1.339a1.504 1.504 0 0 0 0-1.878zm-9.164 4.936L3.008 8.505l1.5-1.5 1.998 2 4.997-4.998 1.499 1.55-6.496 6.445z"></path></svg>
                    </div>
                    <div class="TableObject-item--primary">
                      This commit was created on GitHub.com and signed with a <strong class="signed-commit-verified-label">verified signature</strong> using GitHub’s key.
                    </div>
                  </div>
                  <div class="signed-commit-footer">
                      <span class="d-block">GPG key ID: <span class="text-gray">4AEE18F83AFDEB23</span></span>
                    <a href="https://help.github.com/articles/signing-commits-with-gpg/">Learn about signing commits</a>
                  </div>
                </div>
              </div>
            </details>
          {% endif %}
          <div class="commit-links-group BtnGroup">
            <clipboard-copy value="{{commit['sha']}}" aria-label="Copy the full SHA" class="btn btn-outline BtnGroup-item" tabindex="0" role="button">
              <svg class="octicon octicon-clippy" viewBox="0 0 14 16" version="1.1" width="14" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M2 13h4v1H2v-1zm5-6H2v1h5V7zm2 3V8l-3 3 3 3v-2h5v-2H9zM4.5 9H2v1h2.5V9zM2 12h2.5v-1H2v1zm9 1h1v2c-.02.28-.11.52-.3.7-.19.18-.42.28-.7.3H1c-.55 0-1-.45-1-1V4c0-.55.45-1 1-1h3c0-1.11.89-2 2-2 1.11 0 2 .89 2 2h3c.55 0 1 .45 1 1v5h-1V6H1v9h10v-2zM2 5h8c0-.55-.45-1-1-1H8c-.55 0-1-.45-1-1s-.45-1-1-1-1 .45-1 1-.45 1-1 1H3c-.55 0-1 .45-1 1z"></path></svg>
            </clipboard-copy>
              <a href="/{{data['full_name']}}/commit/{{commit['sha']}}" class="sha btn btn-outline BtnGroup-item">
                {{commit['sha'][:5]}}
              </a>
          </div>
          <a href="/{{data['full_name']}}/tree/{{commit['sha']}}" aria-label="Browse the repository at this point in the history" class="btn btn-outline tooltipped tooltipped-sw" rel="nofollow"><svg class="octicon octicon-code" viewBox="0 0 14 16" version="1.1" width="14" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M9.5 3L8 4.5 11.5 8 8 11.5 9.5 13 14 8 9.5 3zm-5 0L0 8l4.5 5L6 11.5 2.5 8 6 4.5 4.5 3z"></path></svg></a>
        </div>
      </li>
      {% endfor %}
    </ol>
    {% endfor %}
  </div>
{% endmacro %}

