{%- extends 'layout.html' -%}

{% block title %}
<title>{{data['full_name'] + ':' + data['description']}}</title>
{% endblock %}

{%- block css -%}
  {{ super() }}
  <link rel="stylesheet" href="{{ asset_url_for('profile.css') }}" />
{%- endblock -%}

{%- block container -%}
  {%- from 'repo/macros.html' import render_repo with context -%}
  {{- render_repo(data, path, is_root_url) -}}
{%- endblock -%}

{%- block js -%}
  {{ super() }}
  <script src="{{ asset_url_for('home.js') }}"></script>
{%- endblock -%}
