<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link crossorigin="anonymous" media="all" integrity="sha512-vEiCH42J0Z75K8k43QJVo3TeWXpPSjhuyaJLAGYvTHNBexT4HQb1wFP7XY2EKbK37eFbQEk2Z2znKPIUbdMJoA==" rel="stylesheet" href="https://assets-cdn.github.com/assets/frameworks-a92bcfa8d646a4f8874998ac7b7ec3b8.css">
    <link crossorigin="anonymous" media="all" integrity="sha512-0QmNrnxV5kanLB5PDJ5qKBQZxT6mGBU4ybrofSilTcs5oiQArMz1whpZAyZPdS6aEHK2Sldk1ETxVsajS7Ivbg==" rel="stylesheet" href="https://assets-cdn.github.com/assets/github-9477e1913356a43e26fea78ac0a55d32.css">
    <meta name="viewport" content="width=device-width">
    {%- block title -%} 
    {%- endblock -%}
    <link rel="fluid-icon" href="https://github.com/fluidicon.png" title="GitHub">
    <meta name="hostname" content="github.com">
    <link rel="mask-icon" href="https://assets-cdn.github.com/pinned-octocat.svg" color="#000000">
    <link rel="icon" type="image/x-icon" class="js-site-favicon" href="https://assets-cdn.github.com/favicon.ico">
    <meta name="theme-color" content="#1e2327">
    <meta name="u2f-support" content="true">
  </head>
  <body>
    {% block header %}
      {% include 'header.html' %}
    {% endblock %}
    <div class="main-container">
      {% block container %}
      {% endblock %}
    </div>
    {% block footer %}
      {% include 'footer.html' %}
    {% endblock %}
  </body>
</html>
